
<h1 style="text-align: center">Speaking to your coach</h1>
<form action="/answer" method="get" style="text-align: center">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="response" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>

